<%- include("partials/header") %>

<div class="container">
    <div class="row " style="text-align: center;"> 
        <h1>Add New Comment to <%=campgrounds.name%></h1>
    <form action="/campgrounds/<%=campgrounds._id%>/comment/comment_created" method="POST">
        <div style="width: 40% ; margin: 0 auto;">
            <input type="text" class="form-control" name="comment[text]" placeholder="text" required>
         
           
            <button class="btn btn-lg btn-primary  btn-block">submit</button>
        </div>  
    </form>

    <a href="/campgrounds" style="margin-top: 25px;" class="btn btn-danger"> Go Back!!</a>
    </div>
  
</div>


<%- include("partials/footer") %>